/* Box Model Hack */
* {
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
html {
  font-size: 62.5%;
}

body {
  background: rgb(209, 212, 219);
  font-size: 2rem;
  text-align: center;
}

h1, h2, h3, h4, h5, h6, ul, li {
  margin: 0;
  padding: 0;
}

form {
  box-shadow: none;
}

ul, li {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: gray;
}

/******************************************
/* LAYOUT
/*******************************************/
header {
  margin: 2rem 0;
}

.mainSpace {
  display: flex;
  justify-content: center;
}

.calculatorTop {
  height: 2rem;
  text-align: right;
}

.calculatorTop h4 {
  color: darkgray;
}

.calculatorSection {
  align-items: center;
  background: rgb(80, 80, 80);
  /* border-radius: 5px; */
  box-shadow: 1px 1px 2px rgb(55, 55, 55);
  display: flex;
  margin-bottom: 2rem;
  max-width: 450px;
  min-width: 450px;
  padding: 0.2%;
  flex-direction: column;
  flex-wrap: nowrap;
  flex: 2;
  touch-action: manipulation;
}

.calculatorInput {
  background: rgb(80, 80, 80);
  border: none;
  box-shadow: none;
  color: white;
  font-size: 4rem;
  height: 8rem;
  text-align: right;
  width: 100%;
}

.calculatorInput:hover {
  border: none;
  box-shadow: none;
  transform: none;
}

.calculatorButtons {
  display: block;
  font-size: 0;
  touch-action: manipulation;
  width: 100%;
}

.calculatorButtons button {
  /* border-radius: 50%; */
  /* height: 70px; */
  background: rgb(122, 122, 122);
  border: 1px solid rgb(80, 80, 80);
  color: white;
  font-size: 2rem;
  width: 25%;
  padding: 2rem;
  /* width: 25%; */
  text-align: center;
}

.calculatorButtons button.button {
  background: rgb(130, 136, 154);
}

#equals {
  width: 50%;
}

.spaceLeft,
.spaceRight {
  flex: 2;
}

.calButton {
  transition: all .07s ease;
}

.clicking {
  transform: scale(0.9);
  background: rgb(198, 198, 198)
}

.footerSection ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2rem;
}

.footerSection li {
  margin: 0 2rem;
}

/* Media Queries */

@media screen and (max-width: 900px) {

  header {
    margin-top: 1.5rem;
  }

  .calculatorSection {
    margin-bottom: 1rem;
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
  }

  .spaceLeft,
  .spaceRight {
    display: none;
  }

}
